<div>
  <h3>Roles</h3>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Role name</th>
        <th>Role description</th>
        <th>Is active</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.role_name %></td>
          <td><%= role.role_description %></td>
          <td><%= role.is_active %></td>
          <td>
            <%= link_to 'Show', role %>
            <%= link_to 'Edit', edit_rbac_role_path(role) %>
            <%= link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New role', new_rbac_role_path %>
</div>